<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  
  <!-- Permission to query WhatsApp installation status -->
  <queries>
    <package android:name="com.whatsapp" />
    <package android:name="com.whatsapp.w4b" />
  </queries>
</manifest>